@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  font-family: 'Roboto Condensed', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

html,
body {
  max-width: 100vw;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #292929;
}

main {
  overflow-y: auto;
  height: 100vh;
  width: 100%;
}

p {
  font-size: 15px;
  font-weight: 300;
}

h3 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

li {
  font-weight: 300;
}

li:not(:last-child) {
  margin-bottom: 8px;
}

ul {
  list-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bebebe; 
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.marvel-red {
  background-color: #e62429;
}

.marvel-black {
  background-color: #151515;
}

.marvel-black-2 {
  background-color: #202020
}

.block {
  display: block;
}